body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Open Sans', sans-serif;
    font-family: 'Outfit', sans-serif;

}

.main{
    margin-top: 100px;
    margin: auto;
    width: 400px;
    height: 600px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    text-align: center;

}

img{
    width: 380px;
    height: 380px;
    margin: 10px 10px 20px 10px;
    border-radius: 10px;
}

p{
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}

.content{
    display: flex;
    flex-direction: column;
}

.p-1{
    margin: 10px 0 0 0;
}

.p-2{
    margin-bottom: 10px;
}
h2{
    margin: 0;
}

#h2-1{
    margin-bottom: 10px;
}

.p-3{
    margin-top: 0;
}